.intro {

  &__heading {
    color: $blue;
    font-size: 1.8em;
    border-bottom: 1px solid $gray-light-2;
    padding-bottom: 15px;
    padding-left: 15px;
    border-left: 6px solid $teal;
  }

  &__text {
    color: $gray-dark-1;
    font-size: 1.3em;
  }

  &__graphic {
    justify-self: end;
    width: $intro-graphic-size;
    height: $intro-graphic-size;
    padding: 0;

    @media only screen and (max-width: $media-mobile) {
      width: $intro-graphic-size-mobile;
      height: $intro-graphic-size-mobile;
    }
  }

  &__notes,
  &__sources {
    font-size: 16px;
    color: $gray-light-1;
    //padding-top: 120px;

    a {
      color: $teal;
    }
  }
}

.box {
  border-radius: 8px;
  box-shadow: $shadow-box;
  height: 100%;
  padding: 0;
  overflow: hidden;

  &__upper {
    align-items: flex-end;
    justify-content: space-between;
    background: $gradient-main;
    display: flex;
    padding: 20px;
  }

  &__heading {
    color: #fff;
    font-size: 1.5em;
    margin: 0;
  }

  &__svg {
    fill: $blue;
    width: 60px;

    @media only screen and (max-width: $media-mobile) {
      width: 40px;
    }
  }

  &__text {
    padding: 40px 20px;
    color: $gray-dark-1;
    font-size: 1.1em;

    &--color {
      color: $blue;
      font-weight: bold;
    }
  }
}

div[data-tab="introduction"] {
  .intro__graphic {
    display: block;
        width: 100%;
        max-width: 100%;
        height: auto !important;
        margin: 0px auto;
        padding: 10px 80px;
        border-width: 1px;
        border-image: initial;
  }
}
