.modal {
  background-color: rgb(0,0,0);
  background-color: rgba($color: $blue-dark, $alpha: 0.7);
  display: none;
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.modal-header {
  background-color: $blue;
  border-radius: 6px 6px 0 0;
  color: white;
  padding: 10px 40px;
  text-align: center;
  margin: 0 20%;
  width: calc(100% - 40%);
  max-width: 80vw;
  min-width: 400px;
}

.modal-content {
  background-color: white;
  border-radius: 0 0 6px 6px;
  color: black;
  padding: 20px 40px;
  text-align: left;
  margin: 0 20%;
  width: calc(100% - 40%);
  max-width: 80vw;
  min-width: 400px;

  p {
    font-size: 1.4rem;
    font-weight: bold;
  }
}

.active-modal {
  @include flex-center;
  flex-direction: column;
}
